body {
    font-size: 16px;
}

h1 {
    margin-bottom: 20px;
}

.resultTable {
    max-height: 200px
}

iframe {
    border:0px;
}

.toolbox label {
    display: none;
}

#reportLink {
    font-size:10px;
    color: #999;
}

#copied {
    display: inline;
}

.no-labels label {
    display: none;
}

.sidebar {
    line-height: 18px;
}

.staticPage img {
    max-width: 80%;
    border: 1px solid #666;
}

.staticPage {
    font-size: 20px;
}

.itemList {
    font-size: 16px;
    word-wrap: break-word;
}