.resultTable {
    max-height: 200px
}

iframe {
    border:0px;
}

.toolbox label {
    display: none;
}

#reportLink {
    font-size:10px;
    color: #999;
}

#copied {
    display: inline;
}

.no-labels label {
    display: none;
}

.sidebar {
    line-height: 18px;
}